extends feeling_layout
block content

    body
        p
            center
                input#title(type='text' placeholder='title')
        p
            center
                input#feeling(type='text' placeholder='feeling')
        p
            center
                button#insertBtn 입력

        script(src="/javascripts/add.js")