extends feeling_layout
block content

    body
        p
            input#title(type='text' placeholder='title')
        p
            input#feeling(type='text' placeholder='feeling')
        p
            button#insertBtn 입력

        script(src="/javascripts/add.js")