extends feeling_layout
block content

    body
        div.form-group
            center
            //.col-xs-8
            input#title.form-control.input-lg(type='text' placeholder='title')
        div.form-group
            center
            //.col-xs-8
            input#feeling.form-control.input-lg(type='text' placeholder='feeling')
        div.form-group
            center
                button#insertBtn.btn.btn-primary.btn-block 입력

        script(src="/javascripts/add.js")