extends feeling_layout
block content

    h1= name

    div.form-group
        center
            input#serch.form-control.input-lg(type='text' placeholder="feeling")
            Button#serchBtn.btn.btn-primary.btn-block 검색

    div.form-group
        div.list-group
            p#select_result

    div.form-group
        center
            a(href="/feeling/add") 입력


    script(src="/javascripts/index.js")