extends feeling_layout
block content

    h1= title

    p
        center
            input#serch(type='text')
            Button#serchBtn 검색
    p
        center
            a(href="/feeling/add") 입력
    div#select_result

    script(src="/javascripts/index.js")