extends feeling_layout
block content

    h1= title

    div.form-group
        center
            input#serch.form-control.input-lg(type='text' placeholder="feeling")
            Button#serchBtn.btn.btn-primary.btn-block 검색

    div.form-group
        ul.list-group
            p#select_result


    #accordion.panel-group
        .panel.panel-default
            .panel-heading
                h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse1')
                        | Collapsible Group 1
            #collapse1.panel-collapse.collapse.in
                .panel-body
                    |aaa

    div.form-group
        center
            a(href="/feeling/add") 입력
    script(src="/javascripts/index.js")